---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import Pagination from '../../components/Pagination.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import siteConfig from '../../data/site-config';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
    return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout title="Portfolio" description="Explora un portafolio diverso que muestra mi pasión y experiencia" showHeader={false}>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Projects</h1>
    {
        portfolio.map((project, index) => (
            <div class="mb-10 sm:mb-12">
                <h2 class="text-lg font-semibold mb-2">
                    {index + 1}. {project.data.title}
                    {project.data.publishDate && (
                        <span class="text-sm text-gray-500 italic">
                            {' '}
                            -{' '}
                            {new Date(project.data.publishDate).toLocaleDateString('es-ES', {
                                year: 'numeric',
                                month: 'long',
                                day: 'numeric'
                            })}
                        </span>
                    )}
                </h2>
                <ProjectPreview project={project} showTitle={false} />
            </div>
        ))
    }
    <Pagination page={page} class="my-16 sm:my-24" />
</BaseLayout>
